{% set num_per_row = page.header.num_per_row > 0 ? page.header.num_per_row : 6 %}
{% set client_size = 12/num_per_row %}
<section class="client-logo ptb-100">
    <section class="section-title">
        <div class="container text-center">
            <h2>{{ page.title|raw }}</h2>
            <span class="bordered-icon"><i class="fa fa-circle-thin"></i></span>
        </div>
    </section>
    <div class="container">
        {% for row in page.header.clients|batch(num_per_row) %}
            <div class="row">
                {% for client in row %}
                    <div class="col-md-{{client_size}} col-sm-4 col-xs-6 section-margin client">
                        <a href="{{ client.url }}">
                            {{ page.media.images[client.image].html('', client.name)|raw }}
                        </a>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
    <!--end of .container -->
</section>
