{% extends 'partials/base.html.twig' %}

{% block content %}
{% if page.header.background_image != '' %}
    {% set background_html = 'style="background-image: url(' ~ page.media.images[page.header.background_image].url ~ ');"' %}
{% else %}
    {% set  background_html = "" %}
{% endif %}
<section class="single-page-title"{{ background_html }}>
    <div class="container text-center">
        <h2>{{ page.title }}</h2>
    </div>
</section>

{{ page.content }}
{% for module in page.collection() %}
    {{ module.content }}
{% endfor %}
{% endblock %}
